/(BDAE12)DogosObregonProject/DogosObregon-Dominio/target/
/(BDAE12)DogosObregonProject/DogosObregon-Persistencia/target/
/(BDAE12)DogosObregonProject/DogosObregon-Presentacion/target/
/(BDAE12)DogosObregonProject/DogosObregon-Servicios/target/
/(BDAE12)DogosObregonProject/DogosObregon-Utils/target/
